@model HappyZu.CloudStore.Web.Areas.Admin.Models.EditDestViewModel

<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_base" data-toggle="tab" aria-expanded="true"> 基本资料 </a>
                </li>
                <li class="">
                    <a href="#tab_seo" data-toggle="tab" aria-expanded="false"> SEO </a>
                </li>
                <li class="">
                    <a href="#tab_booking_notice" data-toggle="tab" aria-expanded="false"> 预订须知 </a>
                </li>
                <li class="">
                    <a href="#tab_agreement" data-toggle="tab" aria-expanded="false"> 游玩协议 </a>
                </li>
                <li class="">
                    <a href="#tab_pictrues" data-toggle="tab" aria-expanded="false"> 图片集 </a>
                </li>
            </ul>
            <div class="tab-content padding-top-10">
                <div class="tab-pane active form" id="tab_base">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="portlet box grey-salt">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                一般信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.Title)">标题</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="@Html.IdFor(m => m.Dest.Title)" name="@Html.NameFor(m => m.Dest.Title)" data-bind="value:Title">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.Subject)">景点名称</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="@Html.IdFor(m => m.Dest.Subject)" name="@Html.NameFor(m => m.Dest.Subject)" data-bind="value:Subject">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.Introduce)">景点介绍</label>
                                                <div class="col-md-9">
                                                    <textarea class="input-description input-summernote" id="@Html.IdFor(m => m.Dest.Introduce)" name="@Html.NameFor(m => m.Dest.Introduce)" data-bind="value:Introduce"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.Feature)">景点特色</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="@Html.IdFor(m => m.Dest.Feature)" name="@Html.NameFor(m => m.Dest.Feature)" data-bind="value:Feature">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.OpenTime)">开放时间</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" rows="2" id="@Html.IdFor(m => m.Dest.OpenTime)" name="@Html.NameFor(m => m.Dest.OpenTime)" data-bind="value:OpenTime"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">发布</label>
                                                <div class="col-md-9">
                                                    <div class="radio-list">
                                                        <label class="radio-inline">
                                                            <input type="radio" value="0" id="@Html.IdFor(m => m.Dest.IsPublished)" name="@Html.NameFor(m => m.Dest.IsPublished)" > 立即发布
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" value="1" id="SchedulePublish" name="@Html.NameFor(m => m.Dest.IsPublished)"> 定时发布
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.PublishDateTime)">发布时间</label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input type="text" class="form-control" id="@Html.IdFor(m => m.Dest.PublishDateTime)" name="@Html.NameFor(m => m.Dest.PublishDateTime)" data-bind="value:PublishDateTime">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                <label class="control-label col-md-3" >首页显示</label>
                                                <div class="col-md-9">
                                                    <div class="checkbox-list">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" value="True" >
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>*@
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.DisplayOrder)">显示顺序</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Dest.DisplayOrder)" name="@Html.NameFor(m => m.Dest.DisplayOrder)" data-bind="value:DisplayOrder">
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                <label class="control-label col-md-3">创建时间</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">最后编辑时间</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"></p>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="portlet box grey-salt">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                地理位置
                                            </div>
                                        </div>
                                        <div class="portlet-body location-portlet-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.DestType)">所属区域</label>
                                                <div class="col-md-9">
                                                    @Html.EnumDropDownListFor(model=>model.Dest.DestType,new {@class="form-control", data_bind= "value:DestType,event:{change:loadProvinces}" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.ProvinceId)">目的地城市</label>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <select class="form-control" id="@Html.IdFor(m => m.Dest.ProvinceId)" name="@Html.NameFor(m => m.Dest.ProvinceId)" data-bind="value:ProvinceId,options:Provinces,optionsText:'name',optionsValue:'id',event:{change:loadCities}">
                                                            </select>
                                                        </div> <!-- Add the extra clearfix for only the required viewport -->
                                                        <div class="clearfix visible-xs-block"></div>
                                                        <div class="col-xs-12 col-sm-6">
                                                            <select class="form-control" id="@Html.IdFor(m => m.Dest.CityId)" name="@Html.NameFor(m => m.Dest.CityId)" data-bind="value:CityId,options:Cities,optionsText:'name',optionsValue:'id'">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">详细地址</label>
                                                <div class="col-md-9">
                                                    <div class="input-group" style="text-align: left">
                                                        <input type="text" class="form-control" id="@Html.IdFor(m => m.Dest.Address)" name="@Html.NameFor(m => m.Dest.Address)" data-bind="value:Address">
                                                        <input type="hidden" class="form-control" id="@Html.IdFor(m => m.Dest.Lng)" name="@Html.NameFor(m => m.Dest.Lng)" data-bind="value:Lng">
                                                        <input type="hidden" class="form-control" id="@Html.IdFor(m => m.Dest.Lat)" name="@Html.NameFor(m => m.Dest.Lat)" data-bind="value:Lat">
                                                        <span class="input-group-btn">
                                                            <a href="#location-map" class="btn green" data-target="#location-map" data-toggle="modal">
                                                                <i class="fa fa-map-marker"></i> 标记
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet box grey-salt">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                供应商信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">供应商</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" placeholder="选中供应商" id="@Html.IdFor(m => m.Dest.SupplierId)" name="@Html.NameFor(m => m.Dest.SupplierId)" data-bind="value:SupplierId">
                                                        <option value="0">其他供应商</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">供应商名称</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="@Html.IdFor(m => m.Dest.Supplier)" name="@Html.NameFor(m => m.Dest.Supplier)" data-bind="value:Supplier">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet box grey-salt">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                门票
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="must-save" data-bind="visible:IsCreate">
                                                必须保存后才能再进行下一步操作
                                            </div>
                                            @if (Model.Dest.Id>0)
                                            {
                                            <div data-bind="visible:!IsCreate()">
                                                <div class="table-scrollable">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th> 门票名称 </th>
                                                                <th> 类型 </th>
                                                                <th> 价格 </th>
                                                                <th> 库存 </th>
                                                                <th> 结束时间 </th>
                                                                <th> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach:Tickets">
                                                            <tr>
                                                                <td>
                                                                    <a data-bind="text:Name">  </a>
                                                                </td>
                                                                <td class="hidden-xs" data-bind="text:$parent.ShowTicketType($data)">  </td>
                                                                <td data-bind="text:Price"> </td>
                                                                <td data-bind="text:Inventory"> </td>
                                                                <td data-bind="text:moment(EndDate).format('YYYY-MM-DD')">  </td>
                                                                <td data-bind="html:$parent.ShowTicketEdit($data)">
                                                                    
                                                                </td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>
                                                    <a class="btn red" href="@Url.Action("TicketCreate","Destination",new {area="Admin",destId=Model.Id,returnUrl=Request.RawUrl},true)"> 添加门票 </a>
                                                </div>
                                            </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_pictrues">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="must-save" data-bind="visible:IsCreate">
                                必须保存后才能再进行下一步操作
                            </div>
                            @if (Model.Dest.Id>0)
                            {
                            <div data-bind="visible:!IsCreate()">
                                <div>
                                    <button class="btn green-meadow" data-bind="click:openUploadModal"> 上传图片集 </button>
                                </div>
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    缩略图
                                                </th>
                                                <th>
                                                    默认
                                                </th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:Pictures">
                                            <tr>
                                                <td>
                                                    <img data-bind="attr:{src:FileItem.Path}" width="80" height="80"/>
                                                </td>
                                                <td>
                                                    <span data-bind="text:IsDefault"></span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_booking_notice">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <textarea class="input-booking-notice input-summernote" placeholder="预订须知" rows="8" id="@Html.IdFor(m => m.Dest.BookingNotice)" name="@Html.NameFor(m => m.Dest.BookingNotice)" data-bind="value:BookingNotice"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_agreement">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <textarea class="input-agreement input-summernote" placeholder="游玩协议" rows="8" id="@Html.IdFor(m => m.Dest.Agreement)" name="@Html.NameFor(m => m.Dest.Agreement)" data-bind="value:Agreement"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane form" id="tab_seo">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="@Html.IdFor(m => m.Dest.MetaTitle)" title="">META标题</label>
                                        <div class="col-md-10">
                                            <input class="form-control text-box single-line" type="text" id="@Html.IdFor(m => m.Dest.MetaTitle)" name="@Html.NameFor(m => m.Dest.MetaTitle)" data-bind="value:MetaTitle">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="@Html.IdFor(m => m.Dest.MetaKeywords)" title="">META关键字</label>
                                        <div class="col-md-10">
                                            <input class="form-control text-box single-line" type="text" id="@Html.IdFor(m => m.Dest.MetaKeywords)" name="@Html.NameFor(m => m.Dest.MetaKeywords)" data-bind="value:MetaKeywords">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="@Html.IdFor(m => m.Dest.MetaDescription)" title="">META描述</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="4" id="@Html.IdFor(m => m.Dest.MetaDescription)" name="@Html.NameFor(m => m.Dest.MetaDescription)" data-bind="value:MetaDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="location-map" class="modal container fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">标注地理位置</h4>
    </div>
    <div class="modal-body">
        <div id="map-widget" class="map-widget"></div>
    </div>
    <div class="modal-footer">
        <div class="pull-left choose-location"></div>
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">取消</button>
        <button type="button" class="btn green save-location">确认位置</button>
    </div>
</div>

<div id="upload-pic" class="modal fade" tabindex="-1"></div>