@model HappyZu.CloudStore.Web.Areas.Admin.Models.EditTicketViewModel
<div class="tab-pane active form" id="tab_base">
    <div class="form-horizontal">
        <div class="form-body no-padding">
            <div class="row">
                <div class="col-lg-7">
                    <div class="portlet box grey-salt">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i> 门票基本信息
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="@Html.IdFor(m => m.Dest.Title)">当前景点</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static bold font-green-sharp">@Model.Dest.Title</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.Name)">门票名称</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="@Html.IdFor(m => m.Ticket.Name)" data-bind="value:Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.TypeId)">门票类型</label>
                                        <div class="col-md-9">
                                            <select class="tickettype-select form-control input-medium input-inline" data-show-subtext="true" data-bind="optionsCaption:'请选择类型...',options:TicketTypes,optionsText:'name',optionsValue:'id',value:TypeId,valueAllowUnset: true">
                                            </select>
                                            <a href="javascript:;" class="btn green" data-bind="click:showAddTicketTypeMoble">添加类型</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.Points)">门票积分</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Ticket.Points)" data-bind="value:Points">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.Description)">门票描述</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" rows="4" id="@Html.IdFor(m => m.Ticket.Description)" data-bind="value:Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">提前预订</label>
                                        <div class="col-md-9">
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" value="True" data-bind="checked:MustAdvance" /> 必须提前
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-bind="visible:MustAdvance">
                                        
                                        <div class="col-md-9 col-md-offset-3">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        提前：<input type="text" class="form-control input-xsmall" id="@Html.IdFor(m => m.Ticket.AdvanceBookingDays)" data-bind="value:AdvanceBookingDays" placeholder="天数"> 天
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12 bootstrap-timepicker timepicker">
                                                        <input type="text" class="form-control input-xsmall advanced-time-picker" id="@Html.IdFor(m => m.Ticket.EndTime)" data-bind="value:EndTime" placeholder="时间"> 前
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="portlet box grey-salt">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i> 支付
                            </div>
                        </div>
                        <div class="portlet-body form form-horizontal">
                            <div class="form-body">

                                <div class="form-group">
                                    <label class="control-label col-md-3">只需要支付订金</label>
                                    <div class="col-md-9">
                                        <div class="checkbox-list">
                                            <label class="checkbox-inline">
                                                <input class="form-control" type="checkbox" value="True" data-bind="checked:CanPayFrontMoney" /> 启用订金
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:CanPayFrontMoney">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.FrontMoneyPrice)">订金金额</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Ticket.FrontMoneyPrice)" data-bind="value:FrontMoneyPrice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">启用积分抵现</label>
                                    <div class="col-md-9">
                                        <div class="checkbox-list">
                                            <label class="checkbox-inline">
                                                <input class="form-control" type="checkbox" data-bind="checked:CanUsePoint" /> 使用积分
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:CanUsePoint">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.UsePoints)">使用数量</label>
                                    <div class="col-md-9 ">
                                        <input type="text" class="form-control input-xsmall " id="@Html.IdFor(m => m.Ticket.UsePoints)" data-bind="value:UsePoints">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="returnUrl" name="returnUrl" type="hidden" data-bind="value:ReturnUrl"/>
                </div>
                <div class="col-lg-5">


                    <div class="portlet box grey-salt">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i> 报价
                            </div>
                        </div>
                        <div class="portlet-body form form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">报价有效期</label>
                                    <div class="col-md-9">
                                        <div class="input-group input-large" id="pricedaterange">
                                            <input type="text" class="form-control" data-bind="value:DateRange">
                                            <span class="input-group-btn">
                                                <button class="btn default date-range-toggle" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                            @Html.HiddenFor(m=>m.Ticket.StartDate,new {data_bind= "value:StartDate" })
                                            @Html.HiddenFor(m=>m.Ticket.EndDate,new {data_bind= "value:EndDate" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.Price)">商城价</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Ticket.Price)" data-bind="value:Price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.AgentPrice)">代理商价</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Ticket.AgentPrice)" data-bind="value:AgentPrice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.MarketPrice)">市场价</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Ticket.MarketPrice)" data-bind="value:MarketPrice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.CostPrice)">成本价</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-small" id="@Html.IdFor(m => m.Ticket.CostPrice)" data-bind="value:CostPrice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="@Html.IdFor(m => m.Ticket.Inventory)">库存</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-inline input-xsmall " id="@Html.IdFor(m => m.Ticket.Inventory)" data-bind="value:Inventory"> <span class="help-inline"> -1表示不限 </span>
                                        @Html.HiddenFor(m => m.Ticket.QuotesType, new {data_bind = "value:QuotesType"})
                                    </div>
                                </div>
                                @if (Model.Ticket.Id>0)
                                {
                                    <div class="tabbable-custom ">
                                        <ul class="nav nav-tabs ">
                                            <li class="active">
                                                <a href="#tab_all_day" data-toggle="tab"> 所有日期 </a>
                                            </li>
                                            <li>
                                                <a href="#tab_week" data-toggle="tab"> 按星期 </a>
                                            </li>
                                            <li>
                                                <a href="#tab_day" data-toggle="tab"> 指定号数 </a>
                                            </li>
                                            <li>
                                                <a href="#tab_date" data-toggle="tab"> 指定日期 </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_all_day">
                                                <p class="muted"><span data-bind="text:DateRange"></span>所有日期
                                                </p>
                                                <div>
                                                    <button type="button" data-bind="click:UpdateTicketQuote" data-quote-type="0" class="btn btn-success">更新报价</button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_week">
                                                <div class="clearfix check-week">
                                                    <div class="btn-group" data-toggle="buttons" data-bind="foreach:WeekTabs">
                                                        <label class="btn btn-default" data-bind="css: {active:Active},click:$parent.changeChooes">
                                                            <input type="checkbox" class="toggle"> <span data-bind="text:Text"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div><button type="button" data-bind="click:UpdateTicketQuote" data-quote-type="1" class="btn btn-success">更新报价</button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_day">
                                                <div class="clearfix check-week">
                                                    <div class="clearfix check-week">
                                                        <div class="btn-group" data-toggle="buttons" data-bind="foreach:DayTabs">
                                                            <label class="btn btn-default" data-bind="css: {active:Active},click:$parent.changeChooes">
                                                                <input type="checkbox" class="toggle"> <span data-bind="text:Text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div><button type="button" data-bind="click:UpdateTicketQuote" data-quote-type="2" class="btn btn-success">更新报价</button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_date">
                                                <div class="clearfix">
                                                    <div class="input-group input-medium date date-picker pull-left" id="datePicker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                                                        <input type="text" class="form-control" readonly data-bind="value:CustomDate">
                                                        <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                    </div>
                                                    <button type="button" data-bind="click:addDateToTags" class="btn blue pull-left margin-left-10">添加日期</button>
                                                </div>
                                                <div class="clearfix margin-top-10 tagsinput-full">
                                                    <input class="custom-date" type="text"/>
                                                </div>
                                                <div>
                                                    <button type="button" data-bind="click:UpdateTicketQuote" data-quote-type="3" class="btn btn-success">更新报价</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn red"><i class="fa fa-eye"></i> 预览报价</button>
                                    <button type="button" data-loading-text="正在保存报价..." data-bind="click:saveTicketQuotes" class="btn blue-sharp"><i class="fa fa-save"></i> 保存报价</button>
                                }
                                else
                                {
                                    <div class="text-danger">保存后再进行设置报价具体内容</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ticket-type-manager" class="modal fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">添加门票类型</h4>
    </div>
    <div class="modal-body">
        <div class="form">
            <div class="form-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="ticketTypeName">类型名称</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="ticketTypeName" data-bind="value:TicketTypeName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="ticketTypeDisplayOrder">显示位置</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-xsmall" id="ticketTypeDisplayOrder" data-bind="value:TicketTypeDisplayOrder">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left choose-location"></div>
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">取消</button>
        <button type="button" class="btn green save-ticket-type" data-loading-text="正在添加..." data-bind="click:addTicketType">添加</button>
    </div>
</div>