

@using Abp.Json
@{
    ViewBag.Title = "添加景点";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard",new {area="Admin"},true)">控制面板</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Destination",new {area="Admin"},true)">景点管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@ViewBag.Title</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    @ViewBag.Title
    <small>新的景点</small>
</h3>


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="zone zone-content">
            @using (Html.BeginForm("DestCreate", "Destination", FormMethod.Post, new { id = "uiform" }))
            {
                @Html.Partial("_DestCreateOrEdit")
            }
        </div>
    </div>
</div>
<div class="clearfix">
</div>

@section scripts{
    <script>

        var ViewModel = function( returnUrl) {
            var _this = this;
            this.ReturnUrl = ko.observable(returnUrl);

            this.submit = function(data, event) {
                var url = $('#uiform').attr("action");
                var params = [];
                @*params.push({ name: "@Html.NameFor(m=>m.City.Name)", value: _this.Name() });
                params.push({ name: "@Html.NameFor(m=>m.City.ProvinceId)", value: '@Model.ProvinceId' });
                params.push({ name: "@Html.NameFor(m=>m.ProvinceId)", value: '@Model.ProvinceId' });*@
                App.startPageLoading({animate: true});
                var $btn=$(event.target);
                $btn.button("loading");
                $.post(url, params, function(data) {
                    if (data.success) {
                        window.location = _this.ReturnUrl();
                        return;
                    } else {
                        App.alert({
                            container: '',
                            place: 'append', // append or prepent in container
                            type: 'danger',  // alert's type
                            message: data.error.message,  // alert's message
                            close: true, // make alert closable
                            reset: true, // close all previouse alerts first
                            focus: true, // auto scroll to the alert after shown
                            icon: 'warning' // put icon before the message
                        });
                    };
                    $btn.button('reset');
                    App.stopPageLoading();
                }, 'json');

            }
        };

        var vm = new ViewModel(  "@Request["ReturnUrl"]");

        ko.applyBindings(vm);


    </script>
}