@using Abp.Timing
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>环球舱旅行网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Themes/Default/Mobile/content/plugins/sui/css/sm.min.css" rel="stylesheet"/>
    @RenderSection("styles",false)
    <link href="~/Themes/Default/Mobile/content/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico">
    
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        @Html.Partial("_HeaderBar")
        @Html.Partial("_FootBar")
        @RenderBody()
    </div>
    @RenderSection("Pages", false)
</div>
<script src="~/Themes/Default/Mobile/content/plugins/sui/js/zepto.min.js"></script>
    <script>
  $.config = {
      router: false
  }
    </script>
    @RenderSection("scriptconfig", false)
<script src="~/Themes/Default/Mobile/content/plugins/sui/js/sm.min.js"></script>
@RenderSection("scripts", false)
</body>
</html>