@using HappyZu.CloudStore.Entities
@model HappyZu.CloudStore.Web.Areas.Mobile.Models.Account.MyTicketDetailViewModel

<div class="content native-scroll">
    <div class="content-padded border">
        <div class="row no-gutter">
            <div class="col-25">订单编号</div>
            <div class="col-75">@Model.TicektOrder.OrderNo</div>
        </div>
        <div class="row no-gutter">
            <div class="col-25">订单总额</div>
            <div class="col-75">@Model.TicektOrder.TotalAmount.ToString("C")</div>
        </div>
        <div class="row no-gutter">
            <div class="col-25">订单状态</div>
            <div class="col-75">@(Model.GetEnumName<OrderStatus>(Model.TicektOrder.Status))</div>
        </div>
        @*<div class="row no-gutter">
            <div class="col-100">
                <a href="#" class="button button-big">再次预订</a>
            </div>
        </div>*@
    </div>
    <div class="margin-top-10">
        @foreach (var item in Model.OrderItems)
        {
            <div class="content-padded border order-item-info">
                <div class="item-title">
                    @item.TicketName
                </div>
                <div class="row no-gutter">
                    <div class="col-25">使用日期</div>
                    <div class="col-75">
                        @item.Date.ToString("yyyy-MM-dd")
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-25">购买份数</div>
                    <div class="col-75">
                        @(item.UnitPrice.ToString("C")) x @(item.Quantity)
                    </div>
                </div>
                @*<div class="row no-gutter">
                    <div class="col-25">使用方法</div>
                    <div class="col-75"></div>
                </div>*@
            </div>
        }
    </div>
    @*<div class="myticket-dest-info">
        <div class="dest-title">
            景点标题
        </div>
        <div class="dest-body">
            <div class="row no-gutter">
                <div class="col-25">地址</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">营业时间</div>
                <div class="col-75"></div>
            </div>
        </div>
    </div>*@
    <div class="info-card">
        <div class="card-title">
            联系方式
        </div>
        <div class="card-body">
            <div class="row no-gutter">
                <div class="col-25">联系人</div>
                <div class="col-75">@Model.TicektOrder.Contact</div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">联系手机</div>
                <div class="col-75">@Model.TicektOrder.Mobile</div>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="card-title">
            订单信息
        </div>
        <div class="card-body">
            <div class="row no-gutter">
                <div class="col-25">创建时间</div>
                <div class="col-75">@Model.TicektOrder.CreationTime.ToString("yyyy-MM-dd")</div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">支付方式</div>
                <div class="col-75">微信支付</div>
            </div>
        </div>
    </div>
</div>