@using System.Threading
@using System.Web.Mvc
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>环球舱旅行网</title>
    <!-- View specific styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <link href="~/Themes/Default/Web/content/custom.css" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->


</head>
<body>

    @RenderBody()


    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
